@charset "UTF-8";
#top_nav {
  width: 100%;
  height: 31px;
  line-height: 30px;
  background: #e3e4e5;
  border-bottom: solid 1px #ddd; }
  #top_nav .top_nav {
    height: 30px;
    background: #e3e4e5;
    color: #999; }
    #top_nav .top_nav .bar_home {
      width: 80px;
      height: 30px;
      padding: 0px 2px; }
      #top_nav .top_nav .bar_home .icon-shouye {
        display: inline;
        font-size: 16px;
        color: #5c5452;
        width: 20px;
        height: 16px; }
      #top_nav .top_nav .bar_home .djhome {
        display: inline;
        width: 48px;
        line-height: 30px;
        color: #999999;
        font-size: 12px; }
    #top_nav .top_nav .location {
      position: relative;
      width: auto;
      height: 30px;
      padding: 0px 20px 0px 20px;
      line-height: 30px; }
      #top_nav .top_nav .location .nav_black {
        position: absolute;
        bottom: -2px;
        z-index: 2;
        left: 0px;
        width: 100%;
        height: 3px;
        background: #fff;
        display: none; }
      #top_nav .top_nav .location .icon-dingweiweizhi {
        position: absolute;
        display: inline;
        left: 5px;
        top: 2px;
        font-size: 14px;
        color: #5c5452;
        width: 14px;
        height: 13px; }
      #top_nav .top_nav .location .erji .where {
        font-size: 12px;
        color: #999999; }
      #top_nav .top_nav .location .dorpdown-layer {
        position: absolute;
        line-height: 24px;
        z-index: 1;
        top: 30px;
        left: 0px;
        width: 313px;
        height: auto;
        padding: 10px 0 10px 10px;
        background: #fff;
        border: 1px solid #ddd;
        display: none; }
        #top_nav .top_nav .location .dorpdown-layer .ui-areamini-content-list .item {
          float: left;
          width: 60px;
          padding: 2px 0;
          text-align: center;
          line-height: 24px; }
          #top_nav .top_nav .location .dorpdown-layer .ui-areamini-content-list .item a {
            float: left;
            padding: 4px 8px;
            color: #999999;
            font-size: 12px;
            font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif; }
            #top_nav .top_nav .location .dorpdown-layer .ui-areamini-content-list .item a:hover {
              color: red;
              background: #eee; }
        #top_nav .top_nav .location .dorpdown-layer .areamini_inter {
          margin: 10px 0 10px 10px; }
          #top_nav .top_nav .location .dorpdown-layer .areamini_inter .areamini_inter_split {
            width: 262px;
            height: 0;
            border-bottom: dotted 1px #eee; }
          #top_nav .top_nav .location .dorpdown-layer .areamini_inter .areamini_inter_desc {
            margin: 9px 0;
            font-size: 12px;
            color: #999999;
            font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif; }
          #top_nav .top_nav .location .dorpdown-layer .areamini_inter .areamini_inter_list .areamini_inter_item {
            float: left;
            width: 145px;
            height: 26px;
            padding: 0;
            line-height: 26px; }
            #top_nav .top_nav .location .dorpdown-layer .areamini_inter .areamini_inter_list .areamini_inter_item i {
              display: inline;
              width: 15px;
              height: 12px;
              border: solid 1px transparent; }
            #top_nav .top_nav .location .dorpdown-layer .areamini_inter .areamini_inter_list .areamini_inter_item .areamini_inter_name {
              display: inline;
              width: 120px;
              height: auto;
              color: #999999;
              font-size: 12px;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif; }
              #top_nav .top_nav .location .dorpdown-layer .areamini_inter .areamini_inter_list .areamini_inter_item .areamini_inter_name:hover {
                color: red; }
    #top_nav .top_nav .nav_menu {
      width: 718px;
      height: 30px;
      padding: 0px 2px; }
      #top_nav .top_nav .nav_menu li {
        float: left; }
      #top_nav .top_nav .nav_menu .spacer {
        width: 1px;
        height: 12px;
        margin-top: 9px;
        background: #CCC; }
      #top_nav .top_nav .nav_menu .reglogin {
        width: 150px;
        height: 30px;
        padding: 0px 2px;
        margin-right: 10px; }
        #top_nav .top_nav .nav_menu .reglogin .nav_login {
          color: #999999;
          font-size: 12px; }
          #top_nav .top_nav .nav_menu .reglogin .nav_login:hover {
            color: #f30213; }
        #top_nav .top_nav .nav_menu .reglogin .nav_reg {
          font-size: 12px;
          color: #f30213; }
      #top_nav .top_nav .nav_menu .nav_order {
        width: 64px;
        height: 30px;
        padding: 0px 8px; }
        #top_nav .top_nav .nav_menu .nav_order a {
          color: #999999;
          font-size: 12px; }
          #top_nav .top_nav .nav_menu .nav_order a:hover {
            color: #f30213; }
      #top_nav .top_nav .nav_menu .nav_jdvip {
        width: 66px;
        height: 30px;
        padding: 0px 8px; }
        #top_nav .top_nav .nav_menu .nav_jdvip a {
          color: #999999;
          font-size: 12px; }
          #top_nav .top_nav .nav_menu .nav_jdvip a:hover {
            color: #f30213; }
      #top_nav .top_nav .nav_menu .nav_jdnav {
        width: 66px;
        height: 30px;
        padding: 0px 8px; }
        #top_nav .top_nav .nav_menu .nav_jdnav a {
          color: #999999;
          font-size: 12px; }
          #top_nav .top_nav .nav_menu .nav_jdnav a:hover {
            color: #f30213; }
      #top_nav .top_nav .nav_menu .nav_same {
        position: relative;
        width: 82px;
        height: 30px;
        padding: 0px 25px 0px 8px; }
        #top_nav .top_nav .nav_menu .nav_same a {
          color: #999999;
          font-size: 12px; }
          #top_nav .top_nav .nav_menu .nav_same a:hover {
            color: #f30213; }
        #top_nav .top_nav .nav_menu .nav_same i {
          position: absolute;
          top: 10px;
          right: 5px;
          display: inline;
          width: 12px;
          height: 12px;
          line-height: 12px;
          color: #999999;
          font: 12px; }
      #top_nav .top_nav .nav_menu .nav_myjd {
        position: relative; }
        #top_nav .top_nav .nav_menu .nav_myjd .dd-spacer {
          position: absolute;
          top: -7px;
          z-index: 2;
          left: -1px;
          width: 100%;
          height: 10px;
          width: 82px;
          background: #fff;
          display: none; }
        #top_nav .top_nav .nav_menu .nav_myjd .myjd_dorpdown {
          position: absolute;
          left: 0;
          width: 280px;
          top: 30px;
          background: #fff;
          border: 1px solid #ddd;
          display: none; }
        #top_nav .top_nav .nav_menu .nav_myjd .myjdlist1 {
          width: 265px;
          padding: 5px 0 5px 15px;
          overflow: hidden; }
          #top_nav .top_nav .nav_menu .nav_myjd .myjdlist1 .fore1 {
            float: left;
            width: 126px; }
            #top_nav .top_nav .nav_menu .nav_myjd .myjdlist1 .fore1 .item a {
              color: #999999;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
              font-size: 12px; }
              #top_nav .top_nav .nav_menu .nav_myjd .myjdlist1 .fore1 .item a:hover {
                color: red; }
        #top_nav .top_nav .nav_menu .nav_myjd .myjdlist2 {
          width: 265px;
          padding: 5px 0 5px 15px;
          border-top: 1px solid #f1f1f1; }
          #top_nav .top_nav .nav_menu .nav_myjd .myjdlist2 .fore1 {
            float: left;
            width: 126px; }
            #top_nav .top_nav .nav_menu .nav_myjd .myjdlist2 .fore1 .item a {
              color: #999999;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
              font-size: 12px; }
              #top_nav .top_nav .nav_menu .nav_myjd .myjdlist2 .fore1 .item a:hover {
                color: red; }
      #top_nav .top_nav .nav_menu .purchase {
        position: relative; }
        #top_nav .top_nav .nav_menu .purchase .purdorpdown {
          position: absolute;
          z-index: 1;
          left: 0px;
          width: 155px;
          padding: 10px 0 10px 15px;
          top: 30px;
          background: #fff;
          border: 1px solid #ddd;
          display: none; }
        #top_nav .top_nav .nav_menu .purchase .dd-spacer {
          position: absolute;
          top: -7px;
          z-index: 2;
          left: -1px;
          height: 10px;
          width: 82px;
          background: #fff;
          display: none; }
        #top_nav .top_nav .nav_menu .purchase .item {
          display: inline-block;
          width: 56px;
          white-space: nowrap; }
          #top_nav .top_nav .nav_menu .purchase .item a {
            color: #999999;
            font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
            font-size: 12px; }
            #top_nav .top_nav .nav_menu .purchase .item a:hover {
              color: red; }
      #top_nav .top_nav .nav_menu .serve {
        position: relative; }
        #top_nav .top_nav .nav_menu .serve .servedorpdown {
          position: absolute;
          top: 30px;
          right: -1px;
          width: 170px;
          padding: 10px 0;
          background: #fff;
          border: 1px solid #ddd;
          display: none;
          z-index: 1; }
          #top_nav .top_nav .nav_menu .serve .servedorpdown .dd-spacer {
            position: absolute;
            top: -7px;
            z-index: 2;
            right: 0px;
            height: 10px;
            width: 82px;
            background: #fff;
            display: none; }
          #top_nav .top_nav .nav_menu .serve .servedorpdown .item-client {
            font-weight: 700;
            padding-left: 10px;
            color: #666; }
          #top_nav .top_nav .nav_menu .serve .servedorpdown .item-business {
            font-weight: 700;
            padding-left: 10px;
            color: #666; }
          #top_nav .top_nav .nav_menu .serve .servedorpdown .item {
            display: inline-block;
            width: 70px;
            padding-left: 10px; }
            #top_nav .top_nav .nav_menu .serve .servedorpdown .item a {
              color: #999999;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
              font-size: 12px; }
              #top_nav .top_nav .nav_menu .serve .servedorpdown .item a:hover {
                color: red; }
      #top_nav .top_nav .nav_menu .website {
        position: relative; }
        #top_nav .top_nav .nav_menu .website .websitedorpdown {
          position: absolute;
          top: 30px;
          right: -69px;
          width: 1210px;
          padding: 20px 0 16px;
          background: #fff;
          border: 1px solid #ddd;
          display: none;
          z-index: 1; }
        #top_nav .top_nav .nav_menu .website .dd-spacer {
          position: absolute;
          right: 69px;
          width: 82px;
          top: -7px;
          height: 10px;
          background: #fff;
          overflow: hidden;
          display: none; }
        #top_nav .top_nav .nav_menu .website .fore1 {
          float: left;
          width: 367px;
          padding-left: 20px; }
          #top_nav .top_nav .nav_menu .website .fore1 dt {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #666; }
          #top_nav .top_nav .nav_menu .website .fore1 .item {
            float: left;
            width: 86px; }
            #top_nav .top_nav .nav_menu .website .fore1 .item a {
              color: #999999;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
              font-size: 12px; }
              #top_nav .top_nav .nav_menu .website .fore1 .item a:hover {
                color: red; }
        #top_nav .top_nav .nav_menu .website .fore2 {
          float: left;
          width: 280px;
          padding-left: 20px;
          border-left: 1px solid #eee; }
          #top_nav .top_nav .nav_menu .website .fore2 dt {
            display: block;
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #666; }
          #top_nav .top_nav .nav_menu .website .fore2 dd {
            display: block; }
            #top_nav .top_nav .nav_menu .website .fore2 dd .item {
              float: left;
              width: 86px; }
              #top_nav .top_nav .nav_menu .website .fore2 dd .item a {
                color: #999999;
                font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
                font-size: 12px; }
                #top_nav .top_nav .nav_menu .website .fore2 dd .item a:hover {
                  color: red; }
        #top_nav .top_nav .nav_menu .website .fore3 {
          float: left;
          width: 280px;
          padding-left: 20px;
          border-left: 1px solid #eee; }
          #top_nav .top_nav .nav_menu .website .fore3 dt {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #666; }
          #top_nav .top_nav .nav_menu .website .fore3 .item {
            float: left;
            width: 86px; }
            #top_nav .top_nav .nav_menu .website .fore3 .item a {
              color: #999999;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
              font-size: 12px; }
              #top_nav .top_nav .nav_menu .website .fore3 .item a:hover {
                color: red; }
        #top_nav .top_nav .nav_menu .website .fore4 {
          float: left;
          width: 280px;
          padding-left: 20px;
          border-left: 1px solid #eee; }
          #top_nav .top_nav .nav_menu .website .fore4 dt {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 6px;
            color: #666; }
          #top_nav .top_nav .nav_menu .website .fore4 .item {
            float: left;
            width: 86px; }
            #top_nav .top_nav .nav_menu .website .fore4 .item a {
              color: #999999;
              font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5b8b\4f53, sans-serif;
              font-size: 12px; }
              #top_nav .top_nav .nav_menu .website .fore4 .item a:hover {
                color: red; }

/*# sourceMappingURL=head.css.map */
